
<%= form_with model: [test, question], local: true do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
    <p>
    <p>
    <%= form.button 'Save', name: :test_id, value: params[:test_id] %>
  </p>
<% end %>
