<br>
<table class='footer'>
   <tr>
    <td><%= current_year %></td>
    <td><%= github_url('UladKonop', 'test-guru', 'Test-Guru') %></td>
    <td><%= 'Online testing platform' %></td>
    <td><p>Study project at <a href='https://thinknetica.com/'>Thinknetica</a> online school.</p></td>
  </tr>
</table>
