<div class="card text-center">
<table class="card-footer">
    <%= current_year %>
    <%= github_url('UladKonop', 'test-guru', 'Test-Guru') %>
    <%= 'Online testing platform' %>
    <p>Study project at <a href='https://thinknetica.com/'>Thinknetica</a> online school.</p> 
</table>
</div>
