<br>
<table class='footer'>
   <tr>
    <td><%= DateTime.now.year %></td>
    <td><%= 'Uladzislau Kanapliou' %></td>
    <td><a href='https://github.com/UladKonop/test-guru'>Test-Guru</a></td>
    <td><%= 'Online testing platform' %></td>
    <td><p>Study project at <a href='https://thinknetica.com/'>Thinknetica</a> online school.</p></td>
  </tr>
</table>
